//- extends layout

block content
  h1= title
  - let results = [{name:"Aishwarya", age:25, height: 153},{name:"Hari", age:24, height: 160},{name:"Sai", age:"24", height: 152}]
  div(class="container-fluid") 
  div(class="row")
   each friend,index in results
      div(class="col-sm-2" onclick=`buy(${index})`) name: #{friend.name} , age: #{friend.age} , heigth: #{friend.height} 
  
  script. 
   let itemNo=0
      function buy(itemNo)
      {
          alert(`You purchased Item ${itemNo+1}`)
      }